site-assessment {
    display: block;
    width: 100%;
}
.assessment-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.assessment-block input {
    width: 100%;
    margin: 8px 0px;
}

.evaluation_block {
    display: flex; 
    flex-direction:row; 
    justify-content: space-between;
    align-items: center;
}
.check_words_row {
    display: flex; 
    flex-direction:row; 
    gap: 8px;
    padding:5px;
    margin: 5px 0px 0px;
    background-color:#eee;
    border-radius: 10px;
    width: fit-content;
}
.text-outline {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5), 1px 0px 1px rgba(0,0,0,0.5), -1px 0px 1px rgba(0,0,0,0.5), -1px -1px 1px rgba(0,0,0,0.5), 0px -1px 1px rgba(0,0,0,0.5);
}
.check_word {
    padding: 10px 0;
    font-weight:bold;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}
.score_0 {
    color:rgb(254, 38, 38);
}
.score_1 {
    color:rgb(255, 153, 0);
}
.score_2 {
    color:rgb(119, 255, 0);
}
.evaluation {
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    padding: 20px;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(130%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
}
.evaluation.eval_score_0 {
    background-color:rgba(100,0,0,0.7);
    color:#f00;
}
.evaluation.eval_score_1 {
    background-color:rgba(170,50,0,0.7);
    color:#f50;
}
.evaluation.eval_score_2 {
    background-color:rgba(170, 167, 0, 0.7);
    color:rgb(255, 231, 12);
}
.evaluation.eval_score_3 {
    background-color:rgba(112, 126, 19, 0.7);
    color:rgb(195, 228, 45);
}
.evaluation.eval_score_4 {
    background-color:rgba(0, 104, 17, 0.7);
    color:rgb(0, 255, 42);
}
.evaluation .digit {
    margin-right:8px; 
    font-size:20px;
}
